<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.company.user.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.company.border.dto.BorderDTO" alias="borderDTO" />
    </typeAliases>
    
</configuration>
